sphinx-autobuild==2021.3.14
mkl==2021.3.0
PySocks==1.7.1
smarts==0.4.16
mkl-service==2.3.0
mkl-random==1.2.2
stable-baselines3==1.0
pycodestyle==2.7.0
sb3-contrib==1.0
mccabe==0.6.1
opencl-rt==2021.2.0
livereload==2.6.3
flake8==3.9.2
sphinx-autodoc-typehints==1.12.0
tbb==2021.3.0
common-cmplr-lib-rt==2021.2.0
mkl-fft==1.3.0
pytest-env==0.6.2
common-cmplr-lic-rt==2021.2.0
importlab==0.6.1
blinker==1.4
pydantic==1.8.2
intel-openmp==2021.3.0
ninja==1.10.0.post2
dpcpp-cpp-rt==2021.2.0
sphinxcontrib-spelling==7.2.1
PyJWT==1.7.1
pytype==2021.1.28
cryptography==3.4.7
pyenchant==3.2.1
pyflakes==2.3.1
pyOpenSSL==20.0.1
